/* Archivo estilos.css */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para el formulario de búsqueda */
.form-control {
    width: 100%;
}

/* Estilos para la tabla de Pokémon */
.table {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table th {
    background-color: #f0f0f0;
}

.table td,
.table th {
    text-align: center;
    padding: 10px;
}

/* Estilos para las tarjetas de Pokémon (puedes ajustar estos estilos según tus necesidades) */
.pokemon-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
    margin: 10px;
    display: inline-block;
}

.pokemon-card:hover {
    transform: scale(1.05);
}

.pokemon-img {
    max-width: 100%;
    height: auto;
    max-height: 120px;
}
