body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    margin: 0 auto;
    padding: 20px;
    display: grid;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

/* Estilos para el título */
h1 {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para el mensaje de error */
.error-message {
    color: red;
    text-align: center;
    font-size: 18px;
}

    /* Estilos para las tarjetas de Pokémon */
.pokemon-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    margin: 10px;
    text-align: center;
}

/* Estilos para la imagen del Pokémon */
.pokemon-img {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    margin: 0 auto;
}


.pokemon-card:hover {
    transform: scale(1.05);
}

/* Estilos para el texto del Pokémon */
.pokemon-text {
    font-size: 16px;
    margin: 5px 10px; 
}