.bg-pokemon {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 3em;
    border-radius: 10px;
}

.bg-blur {
    background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width:47em) {
    .pokemonGif {
        display: none;
    }
}

@media screen and (min-width:1919px) {
    .bg-blur {
        height: calc(100vh);
    }
}
.pokemon-img{
    height: 200px !important;
    width: fit-content;
    display: block;
}
.pokemon-id{
    width: 40px;
    height: 40px;
    border-radius:50px;
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 8px;
    margin: 2px;
}
.pokemon-vida{
    width: 40px;
    height: 40px;
    border-radius:50px;
    background-color: lightblue;
    color: black;
    text-align: center;
    padding-top: 8px;
    margin: 2px;
}
.pokemon-ataque{
    width: 40px;
    height: 40px;
    border-radius:50px;
    background-color: rgb(98, 7, 168);
    color: white;
    text-align: center;
    padding-top: 8px;
    margin: 2px;
}
.pokemon-velocidad{
    width: 40px;
    height: 40px;
    border-radius:50px;
    background-color: rgb(244, 188, 67);
    color: black;
    text-align: center;
    padding-top: 8px;
    margin: 2px;
}
.pokemon-tipo-img{
    width: 100%;
}
.pokemon-tipo-container{
    height: 40px;
    width: 40px;
    border-radius: 60px;
    
}
.body-busqueda{
    background-image: url(https://pbs.twimg.com/media/EYtf1tjWoAE4fpD.jpg:large);
}